/* app.component.css */

.headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid gray;
}

.location-container {
    width: 10vw;
}

.cuisines-container {
    margin-top: 5vh;
    width: 15vw;
    height: 10vh;
    overflow-y: scroll;
}

.cuisine-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.cuisine-checkbox input {
    margin-right: 0.5rem;
}

.rating-container {
    width: 10vw;
}

.restaurants {
    padding-bottom: 3vh;
}

.restaurants h3 {
    margin-left: 5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
}

.restaurant-card {
    width: 18rem;
    margin-left: 4vw;
    margin-top: 4vh;
}

.restaurant-card img {
    height: 20vh;
    background-size: cover;
}
